* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.gallery {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  background-color: #0d3f58;
  color: rgb(168, 165, 165);
}
.gallery__header,
.gallery__main,
.gallery__footer {
  max-width: 1440px;
  width: calc(100vw - 40px);
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  min-height: 90px;
  border-bottom: 5px solid rgb(168, 165, 165);
}
.header__logo {
  width: 50px;
  height: 50px;
}
.header__title {
  margin-right: auto;
  margin-left: 20px;
  font-size: 50px;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .header__title {
    font-size: 40px;
  }
}
@media (min-width: 320px) and (max-width: 700px) {
  .header__title {
    font-size: 30px;
  }
}
.search {
  width: 400px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#FFFFFF;
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 0 2px #527e94,
  0 0 0 4px #FFFFFF,0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
}
.search__magGlass img {
  width: 35px;
  height: 100%;
}
.search__magGlass {
  width: 15%;
  height: 70%;
  position: absolute;
  right: 5%;
  top: 15%;
  border:none;
  background-color:#FFFFFF;
}
.search__input {
  width: 70%;
  height: 70%;
  border: none;
  outline: none;
  position: absolute;
  top: 15%;
  left: 10%;
  color:#000000;
  font-size: 20px;
}
.header__input::placeholder {
  font-size: 20px;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items:center;
  height: 100%;
  min-height: calc(100vh - 160px);
}
.main__img {
 width: 400px;
 height: 300px;
 border-radius:5px;
 cursor: pointer;
 margin-top: 15px;
 margin-bottom: 15px;
}
.main__img:hover{
  border: 3px solid rgb(168, 165, 165);
  transform: scale(1.07);
  transition: transform 0.5s;
}
@media (min-width:300px) and (max-width:450px){
  .main {
    flex-direction: column;
    justify-content: center;
  }
  .main__img {
    width: 280px;
    height: 210px;
  }
}
.footer {
  min-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  margin-right: auto;
  border-top: 5px solid rgb(168, 165, 165);
}
.data {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  font-size: 30px;
}
.data__github {
  text-decoration: none;
  color: rgb(168, 165, 165);
  position: relative;
}
.data__github:hover {
  color: #FFFFFF;
  transition: color 0.5s;
}
.data__github::after{
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  content: "";
  transition: width 0.5s;
} 
.data__github:hover::after {
  width: 100%;
  color:#FFFFFF;
}
